---
interface Props {
    title: string;
}

const { title } = Astro.props;

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta content="https://pugbot.tf" property="og:url" />
        <meta content="/logo.png" property="og:image" />
        <meta property="og:type" content="website" />
        <meta name="theme-color" content="#444444" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/stylesheets/global.css" />
        <title>{title}</title>
        <slot name="head" />
    </head>
    <body>
        <Header />
        <div class="container">
            <slot />
        </div>
        <Footer />
    </body>
</html>
<style is:global>
    :root {
        --accent: #ffd154;
        --accent-dark: #8e6e53;
        --accent-light: #fff1d7;
        --dark: #433e3f;
        --light-dark: #7a7265;
    }

    html {
        height: 100dvh;
    }

    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 100dvh;
        /* overflow: hidden; */
    }

    .container {
        flex: 1 1 0;
        /* height: calc(100vh - 102px); */
        background-color: rgb(255, 255, 255);
        width: 100%;
        overflow-y: auto;
        min-height: 0;
        display: flex;
        flex-direction: column;
    }
</style>
